# dependencies
/client/node_modules
/server/node_modules

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/server/nodemon.json
/server/dist

/client/yarn-debug.log*
/client/yarn-error.log*
/server/yarn-debug.log*
/server/yarn-error.log*
client/src/features/counter
